h1{
    text-align:center;
    background-color: lemonchiffon;
    font-style: Calibri;
    font-size: 50px;
    color: black;
}
body{
    text-align: justify;
    font-size: 18px;
    font-style:sans-serif;
    background-image: url('bggwood.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}
li{
    color: lightseagreen;
}